server:
  port: 8080

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      routes:
        - id: user_service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        - id: account_service
          uri: lb://account-service
          predicates:
            - Path=/api/accounts/**

        - id: transaction_service
          uri: lb://transaction-service
          predicates:
            - Path=/api/transactions/**

    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
      
jwt:
  secret: mySuperSecretKeyForJwtThatIsAtLeastThirtyTwoChars